.mapView {
	overflow: hidden;

	width: 100vw;
	height: 100vh;
}

.mapImage {
	pointer-events: none;
}

.crisp {
	image-rendering: crisp-edges;
}

.pixelated {
	image-rendering: pixelated;
}

.roundInfoPanel {
	position: fixed;
	top: 0;
	left: 0;
	margin-left: 20px;
	margin-top: 20px;
	padding: 0;

	text-align: left;
	color: #EFF7F6;
	font-size: 2em;

	pointer-events: none;
}

.roundInfoPanel * {
	padding: 0;
	margin: 0;
	filter: drop-shadow(0px 0px 8px black);
}

.roundMap {
	margin-top: -.4em;

	font-size: 1em;
	color: #D2D8D7;
}