.playerBlob {
	position: absolute;
	width: 32px;
	height: 32px;
	background: none;

	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

.playerBlob:hover {
	cursor: pointer;
}

.playerBlob .overlay {
	position: relative;
	top: -32px;
}

.playerTooltipText {
	margin: 0;
	padding: 0;
}