.playbackControls {
	background: rgba(40, 40, 40, 0.8);

	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;

	margin: 0;
	padding: 0;
}

.controls {
	margin: 0;
	padding: 1em .5em;
}

/* right-justified bar for misc. controls */
.altControls {
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 1em .5em;
}

.controlButtonHolder {
	display: inline-block;
	vertical-align: top;
}

.buttonTitle {
	display: inline-block;
	vertical-align: top;

	color: #EFF7F6;
	text-align: center;
	font-size: .7em;
	font-style: bold;

	line-height: 10px;
}

/* left-justified bar for the return to browser button */
.returnButtonHolder {
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 1em .5em;
}


/* buten */

.controlButton {
	position: relative;
	display: inline-block;
	vertical-align: top;

	margin: 0 .5em;
	padding: 0;

	width: 32px;
	height: 32px;

	text-align: center;

	color: #EFF7F6;
	border: 1px solid #EFF7F6;
	border-radius: 16px;

	-webkit-transition: background-color .2s ease-in-out, color .2s ease-in-out;
	-moz-transition: background-color .2s ease-in-out, color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out, color .2s ease-in-out;
	transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.controlButton:hover {
	background-color: #4678CE;
	border: 1px solid #4678CE;
	cursor: pointer;
}

.controlButton p {
	width: 100%;
	height: 100%;

	text-align: center;
	vertical-align: middle;
	font-size: .7em;
	font-style: bold;

	line-height: 9px;

	pointer-events: none;
}

/* make the seekbar look not shit */

.rc-slider {
	margin: 0;
	padding: 0;
	height: 4px;
}

.rc-slider-rail {
	background: #EFF7F6;
	border-radius: 0;
}

.rc-slider-track {
	margin: 0;
	padding: 0;
	background: #4678CE;
	border-radius: 0;
}

.rc-slider-handle {
	border: none;
}

/* tooltip */
.rc-slider-tooltip {
	pointer-events: none;
}

.rc-slider-tooltip-inner {
	background: rgba(40, 40, 40, 0.5);
	border-radius: 0;
	padding: 6px;
	border: none;
	box-shadow: none;
}

.rc-slider-tooltip-arrow {
	border: none;
}

/* fancy css only button icons wow */

.playIcon {
	margin: 6px 10px;

	width: 0;
	height: 0;

	border-top: 10px solid transparent;
	border-left: 16px solid #EFF7F6;
	border-bottom: 10px solid transparent;
	border-radius: 2px;
}

.pauseIcon {
	margin: 8px 10px;

	width: 4px;
	height: 16px;
    border-right: 4px solid #EFF7F6;
    border-left: 4px solid #EFF7F6;

    border-radius: 1px;
}

.nextFrameBlock {
	position: absolute;
	left: 8px;
	top: 7px;

	width: 3px;
	height: 18px;

	background: white;
	border-radius: 2px;
}

.nextFrameArrow {
	position: absolute;
	left: 14px;
	top: 7px;

	width: 0;
	height: 0;

	border-top: 9px solid transparent;
	border-left: 13px solid #EFF7F6;
	border-bottom: 9px solid transparent;
	border-radius: 2px;
}

.prevFrameBlock {
	position: absolute;
	left: 21px;
	top: 7px;

	width: 3px;
	height: 18px;

	background: white;
	border-radius: 2px;
}

.prevFrameArrow {
	position: absolute;
	left: 5px;
	top: 7px;

	width: 0;
	height: 0;

	border-top: 9px solid transparent;
	border-right: 13px solid #EFF7F6;
	border-bottom: 9px solid transparent;
	border-radius: 2px;
}

.returnIcon {
	position: absolute;
	left: 11px;
	top: 9px;

	border-bottom: 4px solid #EFF7F6;
	border-left: 4px solid #EFF7F6;
	border-radius: 2px;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
}
