.playerInfoPanel {
	position: fixed;
	top: 1em;
	right: 1em;

	padding: 1em;
	min-width: 15em;
	max-width: 20em;

	background: rgba(40, 40, 40, 0.8);
	color: #EFF7F6;
	text-align: left;

	border-radius: 4px;
}

.playerInfoPanel * {
	margin: 0;
	padding: 0;
}

.playerRole {
	font-size: .8em;
	color: #B9BFBE;
}

.damageTable {
	table-layout: fixed;
	border-collapse: collapse;

	margin-top: 1em;
	width: 100%;
}

.damageTable tr td {
	margin: 0;
	padding: 0;
}

.damageIcons {
	width: 100%;
	border-bottom: 1px solid #EFF7F6;
}

.damageValues {
	text-align: center;
}
